.section-one {
    background-color: #1f2937;
}

.hero-text-main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-text-sub,
.right-header {
    font-size: 18px;
    color: #e5e7eb;
}
.hero-image {
    color: #f9faf8;
}

.left-header {
    font-size: 24px;
    color: #f9faf8;
}

button,
.footer {
    background-color: #3882f6;
}
button {
    color: #f9faf8;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.section-three {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.quote-source {
    font-size: 24px;
    font-weight: 800;
}

.footer-text-header {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.footer-text-main {
    font-size: 18px;
    color: #e5e7eb;
}
